.header-conteiner{
// height: 10vh;
background-color: $clr6;
}

.logo-img{
    width: 150px;
    height: 150px;
}
.logo-name{
    color: $clr2;
}
.mark{
color: #827081;
  &:hover{
    text-decoration: underline;
  }  
}