.toy-edit{
    height: 400px;
    width: 300px;
    display: flex;
    // justify-content: center;
    // justify-items: center;
    align-items: center;
    // align-content: center;
    margin:  auto;
}