

* {
    box-sizing: border-box;
}
body{
  margin:0 auto;
}
html {
   font-family: Kosug;
   font-weight: 600;
   background-color:$clr7;
//    line-height: 1.8;
//    line-height: lh(26px);

//    @media (max-width: 1300px) {
//        font-size: 13px;
//    }
}

// body {
//     margin: 0;
//     background-color: $clr2;

//     @include for-normal-layout {
//         &.sidebar-open {
//             overflow: hidden;
//         }
//     }
// }

// h1, h2, h3, h4, h5, h6 {
//     font-weight: 500;
//     margin: 0 0 1rem;
//     line-height: lh(40px, 29px);
// }

// h1 {
//     font-size: rem(60px);
// }

// h2 {
//     font-size: em(16px);
//     margin: em(63px) 0;
//     grid-area: title;
//     color: $clr1;
//     text-transform: uppercase;
//     @include type(boldCondensed);
// }

// h3 {
//     font-size: em(29px);
// }



// p {
//     margin: 0 0 1em;
//     max-width: 60ch;
//     @include type(light);
//     .main-text & {
//         grid-column: 3 / 6;
//         font-size: rem(22px);
//         line-height: 1.384615;
//         padding-inline-start: rem(30px);
//         position: relative;

//         &::after {
//             content: "";
//             position: absolute;
//             display: block;
//             top: 0;
//             left: 0;
//             width: 8px;
//             height: 100%;
//             max-height: 42px;
//             background-color: $clr1;

//             @include for-wide-layout {
//                 width: 10px;
//             }
//         }

//         @include for-wide-layout {
//             grid-column: 3 / 5;
//             font-size: rem(26px);
//         }
//     }
// }

.btn {
  @include btn;

  &-dark {
    @include btn($type: dark);
  }

  &-light {
    @include btn($type: light);
  }
}

// links
a {
  color: $clr1;
  text-decoration: none;
  padding: 1rem;
  

//   &.active {
//     background-color: $clr1;
//     color: $clr2;
//   }
}

