
// COLOR PALETTE
$clr1: #FF521C;
$clr2: #000;
$clr3: #fff;
$clr4: darken($clr3, 40%);
$clr5: #2d2d2d;
$clr6:lightcyan;
$clr7:rgba(224, 255, 233, 0.889);

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;