
// COLOR PALETTE
$clr1: #feeafa;//backround
$clr2: #000;
$clr3: #fff;//darken btn
$clr4: darken($clr3, 40%);
$clr5: #cbc0d3;//btn bgc
$clr6:#dee2ff;//btn hover+heder
$clr7:#a1b5e3;//color btn hover

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;